.barhop__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.barhop__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.barhop__navbar-links-logo{
    margin-right: 2rem;
}

.barhop__navbar-links-logo img{
    width: 80.56px;
    height: 50.02px;
}

.barhop__navbar-links_container{
    display:flex;
}

.barhop__navbar-links_container p, .barhop__navbar-menu_container p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;  
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.barhop__navbar-menu{
    margin-left: 1rem;
    display:none; /*this is important to note since it is set to none at default*/
    position:relative;
}

.barhop__navbar-menu svg{
    cursor: pointer;
}

.barhop__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.barhop__navbar-menu_container p{
    margin: 1rem 0;
}

/*media query section */
/*tablets*/
@media screen and (max-width: 1050px){
    .barhop__navbar-links_container{
        display:none;
    }
    .barhop__navbar-menu{
        display:flex;
    }
}

@media screen and (max-width: 700px){
    .barhop__navbar{
        padding: 2rem 4rem;
    }
}

/*mobile devices*/
@media screen and (max-width: 550px){
    .barhop__navbar{
        padding: 2rem;
    }
    .barhop__navbar-menu_container{
        top:24px;
    }
}